ncmpcpp/.config/ncmpcpp/previews/01 - Lorna Shore - Into the Earth.flac.png
ncmpcpp/.config/ncmpcpp/previews/01 - The Earth Mantra.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01 Can You Feel My Heart.m4a.png
ncmpcpp/.config/ncmpcpp/previews/01 Dear Diary,.m4a.png
ncmpcpp/.config/ncmpcpp/previews/01 Steal Something..m4a.png
ncmpcpp/.config/ncmpcpp/previews/01. Immortal.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01. Mold.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01. Outlander.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01. Prologue.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01. Touch Of Evil.mp3.png
ncmpcpp/.config/ncmpcpp/previews/01. Until the End.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02 - Black Gold.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02 Candy Truck _ You Expected_ LAB Y.m4a.png
ncmpcpp/.config/ncmpcpp/previews/02 Parasite Eve.m4a.png
ncmpcpp/.config/ncmpcpp/previews/02 The House of Wolves.m4a.png
ncmpcpp/.config/ncmpcpp/previews/02. A Plus or a Minus.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Army of the Night.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Captain Clock.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Conquistadores.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Death Portrait (2).mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Death Portrait.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Serendipity.mp3.png
ncmpcpp/.config/ncmpcpp/previews/02. Waltz.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03 - Symphony of Trust.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03 A Devastating Liberation.m4a.png
ncmpcpp/.config/ncmpcpp/previews/03 Empire (Let Them Sing).m4a.png
ncmpcpp/.config/ncmpcpp/previews/03 Teardrops.m4a.png
ncmpcpp/.config/ncmpcpp/previews/03. Demons Are a Girl's Best Friend.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. Edge Of Thorns.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. Freaky Carnival.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. No Hoard of Value.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. Scissors.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. This is Hell.mp3.png
ncmpcpp/.config/ncmpcpp/previews/03. Words Of Wisdom.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04 - Pendulum.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04 ¿ (feat. Halsey).m4a.png
ncmpcpp/.config/ncmpcpp/previews/04 Obey (with YUNGBLUD).m4a.png
ncmpcpp/.config/ncmpcpp/previews/04 Sleepwalking.m4a.png
ncmpcpp/.config/ncmpcpp/previews/04. Cloud Factory.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04. Endless Stairs.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04. Exposed as a Liar.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04. Hollow Sentence.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04. Just Another.mp3.png
ncmpcpp/.config/ncmpcpp/previews/04. Power And Glory.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05 - Passerby.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05 Go To Hell, For Heaven's Sake.m4a.png
ncmpcpp/.config/ncmpcpp/previews/05 Itch For The Cure (When Will We B.m4a.png
ncmpcpp/.config/ncmpcpp/previews/05 Underground Big {HEADFULOFHYENA}.m4a.png
ncmpcpp/.config/ncmpcpp/previews/05. I Speak Astronomy.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. My Lost Chance.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. Orphan Soul.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. Out In The Fields.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. Saturday Satan (Rerecorded Version).mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. Warpath of Disease.mp3.png
ncmpcpp/.config/ncmpcpp/previews/05. Who Is Gonna Be the One.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06 _Like Seeing Spiders Running Riot.m4a.png
ncmpcpp/.config/ncmpcpp/previews/06 - Lure.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06 Kingslayer (feat. BABYMETAL).m4a.png
ncmpcpp/.config/ncmpcpp/previews/06 Shadow Moses.m4a.png
ncmpcpp/.config/ncmpcpp/previews/06. Amen & Attack.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. Fool The Gravity.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. Hypocrites & Critics.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. Misery System.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. Shot In The Dark.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. Sit Stay Roll Over.mp3.png
ncmpcpp/.config/ncmpcpp/previews/06. When Two Empires Collide.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07 - Victims.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07 1x1 (feat. Nova Twins).m4a.png
ncmpcpp/.config/ncmpcpp/previews/07 And the Snakes Start To Sing.m4a.png
ncmpcpp/.config/ncmpcpp/previews/07 Dead Dolphin Sounds 'aid brain gr.m4a.png
ncmpcpp/.config/ncmpcpp/previews/07. Gods Of War Arise.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Intoxicating.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Objects in Mirror Are Closer Than They Appear.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Obsession.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Under The Dome.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Where the Wild Wolves Have Gone.mp3.png
ncmpcpp/.config/ncmpcpp/previews/07. Желаю - значит получу.mp3.png
ncmpcpp/.config/ncmpcpp/previews/08 - Walking Dead.mp3.png
ncmpcpp/.config/ncmpcpp/previews/08 ±ªþ³§ (feat. Yonaka).m4a.png
ncmpcpp/.config/ncmpcpp/previews/08 Ludens.m4a.png
ncmpcpp/.config/ncmpcpp/previews/08 Seen It All Before.m4a.png
ncmpcpp/.config/ncmpcpp/previews/08. Bad Water.mp3.png
ncmpcpp/.config/ncmpcpp/previews/08. Destroy (Live).mp3.png
ncmpcpp/.config/ncmpcpp/previews/08. Dip A Sail.mp3.png
ncmpcpp/.config/ncmpcpp/previews/08. Smoking Lies.mp3.png
ncmpcpp/.config/ncmpcpp/previews/08. The Evil That Men Do.mp3.png
ncmpcpp/.config/ncmpcpp/previews/09 - Taphephonia.mp3.png
ncmpcpp/.config/ncmpcpp/previews/09 Antivist.m4a.png
ncmpcpp/.config/ncmpcpp/previews/09 One Day The Only Butterflies Left.m4a.png
ncmpcpp/.config/ncmpcpp/previews/09. Headless Cross.mp3.png
ncmpcpp/.config/ncmpcpp/previews/09. Peculiar Kind Of Sanity.mp3.png
ncmpcpp/.config/ncmpcpp/previews/09. Pisces.mp3.png
ncmpcpp/.config/ncmpcpp/previews/09. Scissors (Live).mp3.png
ncmpcpp/.config/ncmpcpp/previews/10 - Storm.mp3.png
ncmpcpp/.config/ncmpcpp/previews/10 Crooked Young.m4a.png
ncmpcpp/.config/ncmpcpp/previews/10. Beggar's Dance.mp3.png
ncmpcpp/.config/ncmpcpp/previews/10. Night Crawler.mp3.png
ncmpcpp/.config/ncmpcpp/previews/10. Queen Of The Candy World.mp3.png
ncmpcpp/.config/ncmpcpp/previews/10. Waltz (Live).mp3.png
ncmpcpp/.config/ncmpcpp/previews/11 Hospital For Souls.m4a.png
ncmpcpp/.config/ncmpcpp/previews/11. Armata Strigoi.mp3.png
ncmpcpp/.config/ncmpcpp/previews/11. My Home.mp3.png
ncmpcpp/.config/ncmpcpp/previews/12 Join the Club (Bonus Track).m4a.png
ncmpcpp/.config/ncmpcpp/previews/13 Chasing Rainbows (Bonus Track).m4a.png
ncmpcpp/.config/ncmpcpp/previews/14 Deathbeds (Bonus Track).m4a.png
ncmpcpp/.config/ncmpcpp/previews/61155b80007e08ef4.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Lorna Shore - ...And I Return to Nothingness.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Lorna Shore - Cursed to Die.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Alive or Undead.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Beast of Gévaudan.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Blood for Blood (Faoladh).mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Call of the Wild.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Dancing with the Dead.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Demons Are a Girl's Best Friend.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Faster Than the Flame.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Fist by Fist (Sacralize or Strike).mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Glaubenskraft.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Killers with the Cross.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Kiss of the Cobra King.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Nightside of Siberia.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Resurrection by Erection.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Reverent of Rats.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Sanctified with Dynamite.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Sermon of Swords.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Undress to Confess.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Varcolac.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf We Drink Your Blood.mp3.png
ncmpcpp/.config/ncmpcpp/previews/Powerwolf Where the Wild Wolves Have Gone.mp3.png
locations.txt